# Rate_test EDA

## Import librarires

In [5]:
import pandas as pd
import numpy as np

from pathlib import Path

## Load data

In [4]:
import os
os.getcwd()

'/Users/davidjavierlopezmartin/Documents/Github/Parameta/rate_test/Notebooks'

In [10]:
# Define base path relative to the current notebook location
data_path = Path("..") / "data"

# Define file paths
ccy_file = data_path / "rates_ccy_data.csv"
price_file = data_path / "rates_price_data.parq.gzip"
spot_file = data_path / "rates_spot_rate_data.parq.gzip"

# Load datasets
ccy_data = pd.read_csv(ccy_file)
price_data = pd.read_parquet(price_file)
spot_data = pd.read_parquet(spot_file)

# Ensure timestamp columns are in datetime format
price_data['timestamp'] = pd.to_datetime(price_data['timestamp'])
spot_data['timestamp'] = pd.to_datetime(spot_data['timestamp'])

# EDA

### ccy data

In [11]:
ccy_data.head()

  ccy_pair  convert_price  conversion_factor
0   USDVND           True               10.0
1   USDUAH          False                NaN
2   USDTWD          False                NaN
3   USDRUB          False                NaN
4   USDPHP          False                NaN

In [20]:
# Check for duplicated currency pairs
duplicates = ccy_data[ccy_data.duplicated(subset=['ccy_pair'], keep=False)]

# Display duplicates if any
if not duplicates.empty:
    print("Duplicated currency pairs found:")
    display(duplicates)
else:
    print("All currency pairs are unique.")

All currency pairs are unique.

In [23]:
print("There are ", ccy_data.convert_price.value_counts()[0], "which requires conversion")

There are  57 which requires conversion

In [19]:
# Check if any pair that requires convert price has is corresponding conversion factor
ccy_data[(ccy_data.convert_price == True) & (ccy_data.conversion_factor.isna() == True)]

Empty DataFrame
Columns: [ccy_pair, convert_price, conversion_factor]
Index: []

### price data

In [14]:
price_data.shape

(13404, 4)

In [12]:
price_data.head()

                       timestamp security_id     price ccy_pair
index
0     2021-12-10 07:38:07.198474        id_0  23156.00   USDVND
1     2021-12-10 07:38:07.198474        id_0  23307.00   USDVND
2     2021-12-10 07:38:06.918476        id_1  23060.00   USDVND
3     2021-12-10 07:38:06.918476        id_1  23100.00   USDVND
4     2021-12-10 17:09:32.767598        id_2     29.25   USDUAH

In [13]:
spot_data.head()

                   timestamp ccy_pair  spot_mid_rate
0 2021-12-08 20:05:56.818066   EURRSD      117.57850
1 2021-12-08 21:41:10.084411   AUDCHF        0.66000
2 2021-12-09 17:20:34.180273   USDCNH        6.37819
3 2021-12-09 19:25:27.575882   AUDNZD        1.05340
4 2021-12-09 11:23:23.262809   EURRON        4.94970